@media all and (max-width: 440px) {

	/*header*/
	.logo a {
		width: 50px;
		height: 45px;
	}

	/*sidebar*/
	.sidebar_btn {
		position: absolute;
		display: block;
		right: 35px;
		width: 25px;
		height: 18px;
	}

	.sidebar_btn button::after {
		content: '';
		display: block;
		top: 14px;
		transition: all 0.3s;
	}

	.sidebar_btn button span,
	.sidebar_btn button::before,
	.sidebar_btn button::after {
		width: 100%;
		border-radius: 2px;
		overflow: hidden;
		position: absolute;
		right: 0;
		height: 3px;
		background: #333;
	}

	.sidebar_inner .close {
		position: absolute;
		top: 17px;
		right: 35px;
		width: 30px;
		height: 30px;
		background: url(../img/close.png) no-repeat center center;
	    background-size: 20px auto;
	    cursor: pointer;
	}

	/*insta*/
	#insta .inner h3 {
		font-size: 16px;
	}

	/*quick_menu*/
	#quick_menu #pc_inquiry { /*'문의하기' pc용 안보이게*/
		display: none;
	}

	#quick_menu #mo_inquiry { /*'문의하기' 모바일용 보이게*/
		display: block;
	}
}